<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>name</key>
			<string>Name</string>
			<key>description</key>
			<string>CocoaHeads Moscow</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Role</string>
			<key>description</key>
			<string>One of the organizers. Main speaker, giving talks at every meeting. </string>
		</dict>
		<dict>
			<key>name</key>
			<string>Web page</string>
			<key>description</key>
			<string>https://www.facebook.com/cocoaheadsmsk</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>Name</string>
			<key>description</key>
			<string>First Swift School in Russia</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Role</string>
			<key>description</key>
			<string>Second teacher</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Organization</string>
			<key>description</key>
			<string>Empatika</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dates</string>
			<key>description</key>
			<string>August 2014</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>Name</string>
			<key>description</key>
			<string>HSE &quot;UX Design and iOS Development&quot;</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Role</string>
			<key>description</key>
			<string>Assistant</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Web page</string>
			<key>description</key>
			<string>https://itunes.apple.com/course/id941293188</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dates</string>
			<key>description</key>
			<string>November 2014 - Present</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>Name</string>
			<key>description</key>
			<string>Mobile Developer &amp; Business Day 2014</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Role</string>
			<key>description</key>
			<string>Speaker</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Topic</string>
			<key>description</key>
			<string>Swift</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Web page</string>
			<key>description</key>
			<string>http://by.mdday.ru</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Date</string>
			<key>description</key>
			<string>7 November 2014</string>
		</dict>
	</array>
</array>
</plist>
