<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Name</string>
		<key>description</key>
		<string>Alexander Zimin</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Age</string>
		<key>description</key>
		<string>19</string>
	</dict>
	<dict>
		<key>name</key>
		<string>e-mail</string>
		<key>description</key>
		<string>azimin@me.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Github</string>
		<key>description</key>
		<string>https://github.com/azimin</string>
	</dict>
	<dict>
		<key>name</key>
		<string>LinkedIn</string>
		<key>description</key>
		<string>https://www.linkedin.com/in/alexzimin</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Dribbble</string>
		<key>description</key>
		<string>https://dribbble.com/azimin</string>
	</dict>
</array>
</plist>
